<div class="container">
  <div class="col-md-6">
    <div id="logbox">
      <form action="/signup" method="POST">
        <h1>create an account</h1>
        <label for="username"></label>
        <input type="text" name="username" placeholder="What's your username?" autofocus="autofocus" required="required" class="input pass"
        />
        <label for="password "></label>
        <input type="password" name="password" placeholder="Choose a password" required="required" class="input pass" />
        <input type="submit" value="Sign up!" class="inputButton" />
      </form>
    </div>
  </div>
</div>


<!--col-md-6-->
{{!--
<div>
  <form action="/signup " method="post ">
    <div>
      <label class="auth-label-username-password " for="username ">Username</label>
      <input class="auth-username-password " type="text " name="username " placeholder="Username ">
      <label class="auth-label-username-password " for="password ">Password</label>
      <input class="auth-username-password " type="password " name="password " placeholder="Password ">
    </div>

    <div class="auth-message ">
      {{#if message}} {{ message }} {{/if}}
    </div>

    <div class="auth-btn ">
      <button class="auth-btn-signup-login ">SIGNUP</button>
    </div>

    <div class="auth-already-have-acc ">
      <a href="/login ">
        ALREADY HAVE AN ACCOUNT?
        <button class="auth-already-have-acc-btn "> LOG IN</a>
      </button>
    </div>
  </form>
  <a href="http://nba.com ">
    <img class="auth-img " src="https://seeklogo.com/images/N/nba-logo-41668C66DB-seeklogo.com.png " alt=" ">
  </a>
</div> --}}