<div class="container">

  <ul class="ul-btn">
    <button class="index">
      <li class="li-btn">
        <a href="/signup"> SIGN UP</a>
    </button>
    </li>
    <button class="index">
      <li class="li-btn">
        <a href="/login"> LOG IN</a>
    </button>
    </li>
    <button class="index">
      <li class="li-btn">
        <a href="/drills">DRILLS</a>
    </button>
    </li>
    <button class="index">
      <li class="li-btn">
        <a href="/entries">ENTRIES</a>
    </button>
    </li>
  </ul>
</div>