<ul class="ul-entry">
  <li class="li-entry">
    <a class="a-entry" href="/entries/new">Input Entry</a>
  </li>
</ul>


<div class="gutter">
  <div class=" flex-container entry-container ">
    {{#each Entries}}
    <div class="entry-card ">
      <a class="drill-links " href="#">
        <img class="drill-img " src="http://i52.tinypic.com/2h7qwk8.jpg">
        <h3 class="drill-text ">{{this.date}}</h3>
      </a>
    </div>
    {{/each}}
  </div>
</div>