<h1>CREATE AN ACCOUNT</h1>

<form id="form" action="/entries/new" method="post">
  {{User.username}}
  <input type="password" name="password" placeholder="Password">
  <label for="password">Date</label>
  <input type="password" name="password" placeholder="Password">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password">




  <button>CREATE NEW ENTRY</button>
</form>