<div class="gutter">
  <div class=" flex-container drill-container ">
    {{#each list}}
    <div class="drill-card ">
      <a class="drill-links " href="/drills/{{this._id}} ">
        <img class="drill-img " src="{{this.img}} ">
        <h3 class="drill-text ">{{this.name}}</h3>
      </a>
    </div>
    {{/each}}
  </div>
</div> {{!-- gutter --}}


<a href="/entries">ENTRIES</a>