<div class="flex-container drill-details-container gutter">
  <a class="drills-details-link" href="/drills">
    <h1 class="drills-details-name">{{list.name}}</h1>
  </a>
  <h3 class="drills-details-description">{{list.description}}</h3>
  <video class="drills-details-video" width="60%" height="50%" controls>
    <source src="{{list.video}}" type="video/mp4">
  </video>
</div>